/* Author: Nicholas Fazzolari */
.accordion-header-cust {
    color: #FAFAFA;
    background-color: #388E3C;
    width: 16rem;
}

.accordion-body-cust {
    color: #212121;
    background-color: #F5F5F5;
    width: 16rem;
}