@keyframes animateBorder {
    from {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
    }
    to {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}

@keyframes animateBorderReverse {
    from {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        
    }
    to {
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
    }
}

.animate-border-el {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    animation-name: animateBorder;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animate-border-el-reverse {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    animation-name: animateBorderReverse;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}