/* Author: Nicholas Fazzolari */

body {
    height: 100vh;
    color: #2A13AD;
}
.roboto-thin {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto-black {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.bg-gradient {
    background: linear-gradient(#0F073D, 80%, #3719E0);
}

.item-bg {
    background-color: #0A0025;
}

.time-selector-sizer {
    padding: 1rem;
    width: 64px;
}

.display-font {
    font-size: 8rem;
}

.display-font-readout {
    font-size: 4rem;
}

.button-padder {
    font-size: 3rem;
    padding: 16px;
}