/* Author: Nicholas Fazzolari */

body {
    height: 100vh;
    color: #2A13AD;
}

.roboto-thin {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto-black {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.bg-gradient {
    background: linear-gradient(#0F073D, 80%, #3719E0);
}

.item-bg {
    background-color: #0A0025;
}

.time-selector-sizer {
    padding: 1em;
}

.display-font {
    font-size: 3em;
}

.display-font-readout {
    font-size: 3em;
}

.button-padder {
    font-size: 3em;
    padding: 16px;
}


.up-cursor {
    cursor: n-resize;
}

.dn-cursor {
    cursor: s-resize;
}

.point-cursor {
    cursor: pointer;
}