/* 
Author: Nicholas Fazzolari

Sizing and spacing rules that can be used across a
variety of elements and projects.
*/

// Use 'null' for the arguments you don't need instead of 0 to get cleaner output

// General mixin to set all border radii
@mixin setIndividualBorderRadius($topLeft, $topRight, $bottomLeft, $bottomRight) {
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-left-radius: $bottomLeft;
    border-bottom-right-radius: $bottomRight;
}

@mixin setIndividualMargins($left, $top, $bottom, $right) {
    margin-left: $left;
    margin-top: $top;
    margin-bottom: $bottom;
    margin-right: $right;
}

@mixin setIndividualPaddings($left, $top, $bottom, $right) {
    padding-left: $left;
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
}