/* 
Author: Nicholas Fazzolari

Core CSS file that defines the main rules for the pricing grid template

*/

@import '_colors';
@import '_font_stack';
@import '_utilities';

.container {
    display: flex;
    flex-direction: column;
}

.product-option-header {
    display: flex;
    justify-content: center;
    width: 448px;
    @include setIndividualRadius(8px, 8px, 0px, 0px,);
    background-color: $blue-600;
    color: $blue-grey-50;
}

.product-option-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 448px;
    @include setIndividualRadius(0px, 0px, 8px, 8px,);
    background-color: $blue-grey-50;
    color: $blue-grey-600;
}