/* 
Author: Nicholas Fazzolari

Core CSS file that defines the main rules for the pricing grid template

*/
/* 
Author: Nicholas Fazzolari

Colors for the pricing grid. Material color codes.
*/
/* 
Author: Nicholas Fazzolari

Font-stack from Adobe Type web kits. See link tag in header
of main HTML for the CSS file location.
*/
.nimbus-sans-light {
  font-family: nimbus-sans, sans-serif;
  font-weight: 300;
  font-style: normal; }

.nimbus-sans-regular {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal; }

.nimbus-sans-bold {
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-style: normal; }

.nimbus-sans-bold-cond {
  font-family: nimbus-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal; }

/* // Font mixins for Nimbus Sans Condensed family
@mixin setNimbusSansCond($fontSize, $fontColor, $bkgColor, $fontWeight) {
    font-family: nimbus-sans-condensed, sans-serif;
    font-size: $fontSize; // in rem units
    font-weight: $fontWeight; // 100 through 900, where 400 is reg, 900 bold
    color: $fontColor;
} */
/* 
Author: Nicholas Fazzolari

Sizing and spacing rules that can be used across a
variety of elements and projects.
*/
body {
  background-color: #263238; }

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

/* 
Author: Nicholas Fazzolari

Core CSS file that defines the main rules for the pricing grid template

*/
/* 
Author: Nicholas Fazzolari

Colors for the pricing grid. Material color codes.
*/
/* 
Author: Nicholas Fazzolari

Font-stack from Adobe Type web kits. See link tag in header
of main HTML for the CSS file location.
*/
.nimbus-sans-light {
  font-family: nimbus-sans, sans-serif;
  font-weight: 300;
  font-style: normal; }

.nimbus-sans-regular {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal; }

.nimbus-sans-bold {
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-style: normal; }

.nimbus-sans-bold-cond {
  font-family: nimbus-sans-condensed, sans-serif;
  font-weight: 700;
  font-style: normal; }

/* // Font mixins for Nimbus Sans Condensed family
@mixin setNimbusSansCond($fontSize, $fontColor, $bkgColor, $fontWeight) {
    font-family: nimbus-sans-condensed, sans-serif;
    font-size: $fontSize; // in rem units
    font-weight: $fontWeight; // 100 through 900, where 400 is reg, 900 bold
    color: $fontColor;
} */
/* 
Author: Nicholas Fazzolari

Sizing and spacing rules that can be used across a
variety of elements and projects.
*/
.container {
  display: flex;
  flex-direction: column;
  float: left; }

.product-option-header {
  display: flex;
  justify-content: center;
  width: 448px;
  background-color: #1E88E5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

.product-option-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 448px;
  background-color: #ECEFF1;
  color: #263238;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }

.product-option-header-text {
  font-family: nimbus-sans, sans-serif;
  font-size: 2rem;
  color: #ECEFF1;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.price-text {
  font-family: nimbus-sans, sans-serif;
  font-size: 4rem;
  color: #263238;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.license-option-label {
  font-family: nimbus-sans, sans-serif;
  font-size: 1.5rem;
  color: #1E88E5;
  font-weight: 700; }

.product-details-list {
  list-style-position: outside;
  line-height: 2.25rem;
  padding-left: 0rem;
  font-family: nimbus-sans, sans-serif;
  font-size: 1.25rem;
  color: #263238;
  font-weight: 700; }

.product-button {
  font-family: nimbus-sans, sans-serif;
  font-size: 1.5rem;
  color: #ECEFF1;
  background-color: #388E3C;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid transparent; }

.product-button:hover {
  font-family: nimbus-sans, sans-serif;
  font-size: 1.5rem;
  color: #388E3C;
  background-color: #ECEFF1;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid #388E3C; }

/*# sourceMappingURL=pricing_grid_preview.css.map */
