/* Author: Nicholas Fazzolari */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000a12;
    color: #cfd8dc;
}

/* Background gradients */

.card-gradient-background {
    background: linear-gradient(#000a12, #12005e);
}
 
/* Poppins font-family set */
.poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.poppins-black {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}