$dark_blue: #090D11;
$medium_dark_blue: #0E141A;
$text_blue: #5E88AD;
$text_lighter_blue: #90A4AE;
$bubblegum_pink: #F274D0;
$bubblegum_blue: #48B8EF;
$yellow_light: #FFD54F;
$orange_medium: #FF9800;

// Pantone colors
$PANTONE_P_45-8_C: #EF3E2D;

.pink-background {
    background-color: $bubblegum_pink;
}

.blue-background {
    background-color: $bubblegum_blue;
}

.darkblue-text {
    color: $dark_blue;
}

.hinted-text {
    color: $text_blue;
}

.pink-text {
    color: $bubblegum_pink;
}

.blue-text {
    color: $bubblegum_blue;
}