// Global styles

@use '_colors.scss' as colors;

body {
    font-family: 'Poppins', sans-serif;
    background-color: colors.$dark_blue;
    color: colors.$text_lighter_blue;
}

.page-full-height {
    height: 100%;
}